<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>923405961073-7puuse9uc48o9bjvhlgclt6tr3pmr57q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923405961073-7puuse9uc48o9bjvhlgclt6tr3pmr57q</string>
	<key>API_KEY</key>
	<string>AIzaSyCvCpeitK-Z41lWdu3b_qcgV48jPh4iTYE</string>
	<key>GCM_SENDER_ID</key>
	<string>923405961073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>ios-firebaseauth</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-firebaseauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:923405961073:ios:7d47d5455da1c20c</string>
	<key>DATABASE_URL</key>
	<string>https://ios-firebaseauth.firebaseio.com</string>
</dict>
</plist>